# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 1. ปฏิเสธไฟล์และโฟลเดอร์ทุกตัวในโปรเจกต์ก่อน (ล็อคไม่ให้เอาอะไรขึ้นเลย)
/*

# 2. ยกเว้นโฟลเดอร์และไฟล์ที่เราต้องการจะเอาขึ้น GitHub จริงๆ
!/backend/
!/src/
!.gitignore

# 3. เผื่อกรณีในโฟลเดอร์ backend มี node_modules หรือไฟล์ขยะซ่อนอยู่ (ใส่ดักไว้ล่วงหน้า)
**/node_modules/
**/.env
**/.env.local